<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Votre confort</title>
</head>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" th:href="@{/css/ServicesCss/Forms.css}" />
<body>
<div th:replace="Header2:: Header"></div>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="css/SevicesCss/detail.css" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>DESCRIPTION</h5>
                <p class="mb-0">[[*{offreChoisi.descriptionHotel}]]</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Ville </b> <input type="text" readonly th:value="${offreChoisi.ville}" style="border:none"></p>
                <p><b>Type:</b> <input type="text" readonly th:value="${offreChoisi.type}" style="border:none"></p>
                <p class="mb-0"><b>Prix :</b> <input type="text" readonly th:value="${offreChoisi.Prix}+DH"
												name="prix"  style="border:none"></p>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <span class="fw-bold mr-10 va-middle hide-mobile">Consulter:</span>
                    <a href="#x" class="btn btn-xs btn-facebook btn-circle btn-icon mr-5 mb-0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#x" class="btn btn-xs btn-pinterest btn-circle btn-icon mr-5 mb-0"><i class="fab fa-instagram"></i></a>
                    <a href="#x" class="btn btn-xs btn-linkedin btn-circle btn-icon mr-5 mb-0"><i class="fab fa-whatsapp"></i></a>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img th:src="*{'data:image/jpeg;base64,'+{offreChoisi.imageHotel}}"
											 alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Titre:</b> <input type="text" style="border:none"
												readonly th:value="${offreChoisi.nomHotel}"
												 name="nomHotel" class="txt"></p>
               
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>







    			<!-- Formulaire -->
						    <div class="col-md-5 ">
								<div class="form_main ">
						                <h4 class="heading"><strong> Choisissez </strong> votre confort <span></span></h4>
						                <div class="form">
						                <form th:action="@{/détailHotel}" method="post" id="contactFrm" name="contactFrm" th:object="${hotel}">
						                   <label><strong>Nombre enfant</strong></label> <input type="text" required placeholder="Nombre enfant" th:field="*{nbrEnfant}" name="nbr_enfant" class="txt">
						                    <label><strong>Nombre adulte</strong></label><input type="text" required placeholder="Nombre adulte" th:field="*{nbrAdulte}" name="nbr_adulte" class="txt"><br><br>
						                   
						                   
						                    <div class="row">
						                       <div class="col-6">
						                       <label><strong>Date Début</strong></label>
						                       </div>
						                       <div class="col-6">
						                       <label><strong>Date Fin</strong></label>
						                    	</div>
						                    </div>    
						                   <div class="row">
						                       <div class="col-6">
						                       <input type="date" required placeholder="Date début" th:field="*{debut}" th:name="${debut}" class="date" >
						                       </div>
						                       <div class="col-6">
						                       <input type="date" required placeholder="Date expédition" th:field="*{fin}" th:name="${fin}"  class="date"><br><br>
						                    	</div>
						                    </div>
						                    
						                    <label><strong>Nombre de chambre</strong></label><input type="text" required placeholder="Nombre de chambre" th:field="*{nbrChambre}" name="nbr_jour" class="txt">
						                       <select
													class="form-control txt" id="exampleFormControlSelect1"
													name="chambreO" value="Chambre" th:field="*{chambreOmra}" >
														<option value="">--Veuillez spécifier le type de chambre--</option>
														<option value="Sweet">Sweet</option>
														<option value="Chambre simple">Chambre simple</option>
														<option value="Chambre double">Chambre double</option>
														<option value="Chambre triple">Chambre triple</option>
														<option value="Chambre quadruple">Chambre quadruple</option>
												</select>
						                	 
						                     <input type="submit" value="submit" name="submit" class="txt2">
						                </form>
						            </div>
						           </div>	
						        </div>
					<!-- End Formulaire -->
					<div th:replace="Footer:: Footer"></div>
</body>
</html>