

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head >
<meta charset="Utf-8">
<title>Header2</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
<   <!--Header Section-->
    <header id="header">
        <div class="top">
            <div class="container p-0">
                <!--p-0 padding 0-->
                <nav class="navbar navbar-expand-lg navbar-light ">
                  <a class="navbar-brand name text-white" href="#">
                        <img th:src="@{/images/logo.png}" width="50" height="50" class="d-inline-block align-top" alt="logo_SafelyTravel">
                         Safely Travel
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link text-white text-weight-bold" href="/">Accueil <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-weight-bold" href="/services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  text-white text-weight-bold"  href="/about"
>A propos</a>
                            </li>
 


                            <li class="nav-item text-weight-bold text-white">
                              
 							 <form th:action="@{/services}" method=""> 
 										 <span th:each="p:${Utilisateurs}"> <span th:text="${p.nom}">
 		 								</span> 
 							 </form> 
                            </li>
                      
                            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="logout" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                               
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>

    </header>
    <!--Fin du header-->
</div>
</body>
</html>