<!DOCTYPE html>
<html>

<head>
    <meta charset="Utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>

<body>


    </div>
    <div class="container p-4">


        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">Inscription avec succées </div>
        </div>
        <div class="card bg-light p-4">
            <article class="card-body mx-auto" style="max-width: 450px;">
                <h4 class="card-title mt-4 mb-3 text-center">Bienvenue dans notre agence Safely Travel</h4>

                <!-- th:field doivent être similaire au nom dans UserRegistrationDto -->
                <form th:action="@{/registration}" method="post" th:object="${user}">
                    <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-id-card"></i> </span>
                        </div>
                        <input id="CIN" class="form-control" th:field="*{cin}" required autofocus="autofocus"
                            placeholder="N° CIN" type="text">
                    </div> <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input id="Nom" name="" class="form-control" 
                            placeholder="Nom" type="text" th:field="*{nom}" required autofocus="autofocus">
                    </div>
                    <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" id="Prénom" th:field="*{prenom}" required autofocus="autofocus" class="form-control" placeholder="Prénom" type="text">
                    </div>
                    <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" th:field="*{email}" required autofocus="autofocus" id="email"
                            class="form-control" placeholder="Adresse Email" type="email">
                    </div>
                    <!-- end form-group// -->
                    <!-- form-group// -->
                     <!-- 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+212</option>
                            <option value="1">+972</option>
                            <option value="2">+198</option>
                            <option value="3">+701</option>
                        </select>
                        <input name="" class="form-control" placeholder="Phone number" type="text">
                    </div>-->
                    <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" th:field="*{motdepasse}" required autofocus="autofocus"
                            placeholder="Mot de passe" type="password" id="motdepasse">
                    </div>

                    <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-home"></i> </span>
                        </div>
          <input name="" id="adresse" th:field="*{adresse}" required autofocus="autofocus" class="form-control" placeholder="Adresse" type="text">
                       
                    </div>
                    <!-- end form-group// -->
                    <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block"> S'inscrire </button>
                        <!--<span>Already registered? <a href="/" th:href="@{/login}">Login
                            here</a></span>-->
                    </div> <!-- form-group// -->
                    <p class="text-center">Déjà inscrit <a th:href="@{/login}">Connectez vous!</a> </p>



                </form>
        </div>
    </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>